@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Pokemon Font';
  src: url('/fonts/pokemon-dp-pro.ttf');
}

.pokemon-font {
  font-family: 'Pokemon Font', monospace;
  line-height: 1rem;
  letter-spacing: 0.0625rem;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
}

.pokemon-font::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: linear-gradient(
    45deg,
    transparent 45%,
    rgba(255, 255, 255, 0.15) 50%,
    transparent 55% 
  );
  background-size: 0.375rem 0.3754rem;
  pointer-events: none;
}

.frosted-glass {
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.translucent-border {
  border: 3px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
}


.pixel-corners-radius-6-step-3px {
  clip-path: polygon(
    0px calc(100% - 12px),
    3px calc(100% - 12px),
    3px calc(100% - 6px),
    6px calc(100% - 6px),
    6px calc(100% - 3px),
    12px calc(100% - 3px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) 6px,
    calc(100% - 6px) 6px,
    calc(100% - 6px) 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 3px,
    6px 3px,
    6px 6px,
    3px 6px,
    3px 12px,
    0px 12px
  );
}

.pixel-corners-radius-10-step-5px {
  clip-path: polygon(
    0px calc(100% - 35px),
    5px calc(100% - 35px),
    5px calc(100% - 25px),
    10px calc(100% - 25px),
    10px calc(100% - 15px),
    15px calc(100% - 15px),
    15px calc(100% - 10px),
    25px calc(100% - 10px),
    25px calc(100% - 5px),
    35px calc(100% - 5px),
    35px 100%,
    calc(100% - 35px) 100%,
    calc(100% - 35px) calc(100% - 5px),
    calc(100% - 25px) calc(100% - 5px),
    calc(100% - 25px) calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(100% - 15px) calc(100% - 15px),
    calc(100% - 10px) calc(100% - 15px),
    calc(100% - 10px) calc(100% - 25px),
    calc(100% - 5px) calc(100% - 25px),
    calc(100% - 5px) calc(100% - 35px),
    100% calc(100% - 35px),
    100% 35px,
    calc(100% - 5px) 35px,
    calc(100% - 5px) 25px,
    calc(100% - 10px) 25px,
    calc(100% - 10px) 15px,
    calc(100% - 15px) 15px,
    calc(100% - 15px) 10px,
    calc(100% - 25px) 10px,
    calc(100% - 25px) 5px,
    calc(100% - 35px) 5px,
    calc(100% - 35px) 0px,
    35px 0px,
    35px 5px,
    25px 5px,
    25px 10px,
    15px 10px,
    15px 15px,
    10px 15px,
    10px 25px,
    5px 25px,
    5px 35px,
    0px 35px
  );
}

.pixel-corners-radius-6-step-4px {
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}

.pixel-corners-radius-8-step-4px {
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
}


